@model IEnumerable<Interns>
@{
    ViewData["Title"] = "Addintern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <style>
       

        .box {
            width: calc(33.33% - 10px); /* Adjust the width of each box */
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px; /* Apply border-radius for rounded corners */
        }

        .box-two {
            width: calc(50% - 10px); /* Adjust the width of each box */
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px; /* Apply border-radius for rounded corners */
        }
    </style>
</head>
<body>
   

</body>
</html>





<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2> Create Admin </h2>
        </div>
        <div class="col-6">
            <a class=" btn btn-primary" asp-action="Add" asp-
               controller="AddController">Add Intern</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="width:auto">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                Gender
            </th>
            <th>
               Age
            </th>
            <th>
                JoinDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Contact
            </th>
            <th>
                City
            </th>
            <th>
                ClgName
            </th>
            <th>
                InternDpt
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.firstname</td>
                <td>@item.lastname</td>
                <td>@item.email </td>
                <td>@item.password </td>
                <td>@item.gender </td>
                <td>@item.age</td>
                <td>@item.joindate</td>
                <td>@item.endingdate</td>
                <td>@item.contact </td>
                <td>@item.city </td>
                <td>@item.collagename </td>
                <td>@item.interndepart</td>
            </tr>
        }
    </tbody>
</table>