@model IEnumerable<Interns>

@{
    ViewData["Title"] = "Showinterns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:6px;">
    <center>
        <h1><b>ALL INTERNS DETAILS</b></h1>
    </center>
</div>

<br />


@if (!ViewBag.DataFound)
{
    <script>alert('No data found.');</script>
}


<!DOCTYPE html>
<html>
<head>
    <style>
           body {
        background-color: antiquewhite; /* Choose your desired background color */
    }

        .box {
            width: calc(33.33% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .box-two {
            width: calc(50% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .bd-color {
            background-color: antiquewhite;
        }

        .custom-padding {
            padding-left: 300px; /* Adjust the padding value as needed */
        }


    </style>
</head>
<body>

    <div class="row custom-padding">
        <div class="col-md-6">
            <form class="d-flex" asp-action="ShowInterns" asp-controller="Add">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" arial-label="Search" />
                <button class="btn btn-dark" type="submit">Search by name</button>
            </form>
        </div>

        <div class="col-md-6">
            <a asp-action="ShowInterns" class="text-dark">Back to list</a>
        </div>

    </div>
    <br />
    <br />
  

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>JoinDate</th>
                    <th>EndDate</th>
                    <th>Contact</th>
                    <th>City</th>
                    <th>ClgName</th>
                    <th>InternDpt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.firstname</td>
                        <td>@item.lastname</td>
                        <td>@item.email</td>
                        <td>@item.password</td>
                        <td>@item.gender</td>
                        <td>@item.age</td>
                        <td>@item.joindate</td>
                        <td>@item.endingdate</td>
                        <td>@item.contact</td>
                        <td>@item.city</td>
                        <td>@item.collagename</td>
                        <td>@item.interndepart</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
