@model IEnumerable<AddEventDetailsModel>
@{
    ViewData["Title"] = "Eventview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        .box {
            width: calc(33.33% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .box-two {
            width: calc(50% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .bd-color {
            background-color: antiquewhite;
        }

        .approve-btn {
            padding-left: 50px;
            padding-right: 40px;
            /* Adjust as needed */
        }

        .reject-btn {
            padding-left: 50px;
            padding-right: 50px;
        }

    </style>
</head>
<body>

    <div class="container p-4">
        <div class="row p-3 justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Event Details</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Event Name</th>
                    <th>Registration Link</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Poster</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.EventName</td>
                        <td>@item.RegistrationLink</td>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td>@item.EndDate.ToShortDateString()</td>
                        <td>@item.Status</td>
                        <td>@item.PosterFileName</td>

                        <td role="group">
                            <!-- Edit button -->
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-block approve-btn" asp-controller="AddEventDetails" asp-action="EventEdit" asp-route-id="@item.Id">Update</a>
                                </div>
                            </div>
                            <!-- Delete button -->
                            <div class="row ">
                                <div class="col-md-12">
                                    <a class="btn btn-danger btn-block reject-btn" asp-controller="AddEventDetails" asp-action="EventDelete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
