@model IEnumerable<DashboardModel>

@{
    ViewData["Title"] = "Admindash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
          
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align:center;
            gap: 10px;
           
            margin-bottom: 25px;
        }

        .box {
            width: calc(33.33% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            font-size: 18px;
            border: 2px solid #ccc;
            text-align:center;
            border-radius: 10px;
        }

        .box12 {
            background-color: #f0f0f0;
            border: 2px solid #ccc;
            border-radius: 5px;
            padding: 18px;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-block-start: 10px;
        }


        .container-two {
            display: flex;
            justify-content: space-between;
            gap: 1px;
        }

        .box-two {
            width: calc(50% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 8px solid #ccc;
            border-radius: 10px;
            margin-block: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="container">

        <div class="box">Web Interns</div>
        <div class="box">frontend Interns</div>
        <div class="box">Backend Interns</div>
    </div>

    <div class="container-two">
        <div class="box">HR Interns</div>
        <div class="box">Marketing Interns</div>
        <div class="box">Data Science</div>
    </div>

    <div class="container p-4">
        <div class="col p-3 justify-content-center">
            <div class="col-12">
                <div class="box12">
                    <h2 class="text-center">Department Heads</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Department</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.email</td>
                        <td>@item.password</td>
                        <td>@item.department</td>
                        <td>@item.mobile</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
