@model IEnumerable<ApprovedModel>
@{
    ViewData["Title"] = "Approveleave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!ViewBag.DataFound)
{
    <script>alert('No data found.');</script>
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .box {
            width: calc(33.33% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .box-two {
            width: calc(50% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .bd-color {
            background-color: antiquewhite;
        }

        .edit-btn {
            padding-left: 40px;
            padding-right: 50px;
            /* Adjust as needed */
        }

        .delete-btn {
            padding-left: 40px;
            padding-right: 33px;
        }

        .custom-padding {
            padding-left: 200px;
        }
    </style>
</head>
<body>
    <div class="container p-4">
        <div class="row p-3 justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Approve Interns Details</h2>
            </div>
        </div>
    </div>

    <div class="row custom-padding">
        <div class="col-md-6">
            <form class="d-flex" asp-action="Approveleave" asp-controller="Approve">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" arial-label="Search" />
                <button class="btn btn-dark" type="submit">Search by name</button>
            </form>
        </div>

        <div class="col-md-6">
            <a asp-action="Approveleave" class="text-dark">Back to list</a>
        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Department</th>
                    <th>Reason</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Applied Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.firstname</td>
                        <td>@item.lastname</td>
                        <td>@item.department</td>
                        <td>@item.reason</td>
                        <td>@item.start_date</td>
                        <td>@item.end_date</td>
                        <td>@item.status</td>
                        <td>@item.applied_date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
