@model IEnumerable<AddInternSalaryModel>
@{
    ViewData["Title"] = "Internview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: antiquewhite; /* Choose your desired background color */
        }

        .box {
            width: calc(33.33% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .box-two {
            width: calc(50% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .bd-color {
            background-color: antiquewhite;
        }

        .approve-btn {
            padding-left: 50px;
            padding-right:40px;
            /* Adjust as needed */
           
        }

        .reject-btn {
            padding-left: 50px;
            padding-right:50px;
             

           
        }

    </style>
</head>
<body>

    <div style="margin-top:10px;">
        <center>
            <h1><b>SALARY DETAILS </b></h1>
        </center>
    </div>

 <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Department</td>
                        <td>@item.Year</td>
                        <td>@item.Month</td>
                        <td>@item.Status</td>

                        <td role="group">
                            <!-- Edit button -->
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-block approve-btn" asp-controller="AddInternSalary" asp-action="SalaryEdit" asp-route-id="@item.Id">Update</a>
                                </div>
                            </div>
                            <!-- Delete button -->
                            <div class="row ">
                                <div class="col-md-12">
                                    <a class="btn btn-danger btn-block reject-btn" asp-controller="AddInternSalary" asp-action="SalaryDelete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
